section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
}

section.slider > h1{
    text-align: center;
    font-size: 2.5rem;
    margin: 30px;
    color: black;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
    overflow: hidden;
    background-color: white;
    margin: 0;
    padding: 0;
}

.slider-content input{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img{
    width: 100%;
    height: auto;
}

.slide-box h1{
    text-align: center;
    font-size: 1.56rem;
    padding: 8px;
    color: white;
    background-color: #024218;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 50%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #ff6f61;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: #ff6f61;
}

#radio_01:checked ~ .nav-auto .auto-btn_01, #radio_02:checked ~ .nav-auto .auto-btn_02,
#radio_03:checked ~ .nav-auto .auto-btn_03, #radio_04:checked ~ .nav-auto .auto-btn_04{
    background-color: #ff6f61;
}

#radio_01:checked ~ .first{
    margin-left: 0%;
}

#radio_02:checked ~ .first{
    margin-left: -25%;
}

#radio_03:checked ~ .first{
    margin-left: -50%;
}

#radio_04:checked ~ .first{
    margin-left: -75%;
}