/* História */
.container{
    margin-top: 50px;
    margin-bottom: 50px;
}

.text{
    position: relative;
    left: 10%;
    width: 80%;
    margin-right: 50px;
}

.text h1{
    font-size: 4rem;
    text-align: center;
    color: green;
}

.text h2{
    font-size: 2rem;
    color: red;
}

.text p{
    font-size: 1.8rem;
    text-align: justify;
}

.text img{
    width: 100%;
    height: auto;
}

.text h3{
    font-size: 2rem;
    color: blue;
}